.background{
    position: relative;
    top: 0;
    left: 0;
    width: 1000px;
    height: 600px;
    background-color: black;
}

/*player character*/
.mysteryMachine{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 50px;
    height: 35px;
}

/*goal of Scooby Snack */
.scoobySnack{
    position: absolute;
    top: 285px;
    left: 475px;
    width: 60px;
    height: 50px;
}

/* left boundary/edge */
.obstacle1a{
    position: absolute;
    top: 7px; /* add 50 px */
    left: 7px; /*add 75 px */
    width: 15px;
    height: 601px;
    background-color: orangered;
}

/* right boundary/edge */
.obstacle1b{
    position: absolute;
    top: 7px;
    left: 997px; 
    width: 15px;
    height: 601px;
    background-color: orangered;
}

/* top boundary/edge */
.obstacle1c{
    position: absolute;
    top: 7px;
    left: 22px; 
    width: 975px;
    height: 8px;
    background-color: orangered;
}


/* bottom boundary/edge */
.obstacle1d{
    position: absolute;
    top: 600px;
    left: 22px;
    width: 975px;
    height: 8px;
    background-color: orangered;
}